/* * Importing the normalize css */
@import url(/css/normalize.css);

:root {
    --primary-color:hsl(179, 62%, 43%);
    --secondary-color:hsl(71, 73%, 54%);
    --neutral-color-one: hsl(204, 43%, 93%);
    --neutral-color-two: hsl(218, 22%, 67%);
}


.attribution { 
    font-size: 11px; text-align: center; 
}

h1, h2 {
    margin: 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* * Typography */

html {
    font-size: 62.5%;
}

body {
    font-family:'Karla', sans-serif;
    font-size: 1.6rem;
    background-color: var(--neutral-color-one);
}

/* * Container  */

.container {
    max-width: 375px;
    margin: 20px auto;
}

/* * Headings */
.heading {
    font-size: 1.8rem;
}

/* * community block */

.community-block {
    background-color: white;
    padding: 2rem;
}

.community_heading {
    color: var(--primary-color);
}

/* *targeting the first paragraph in the block using pseudo selector */
.community-block p:first-of-type {
    color: var(--secondary-color);
    margin: 2rem 0;
}

.community-block p:last-of-type {
    color: var(--neutral-color-two);
    font-size: 1.4rem;
    line-height: 2;
}

/* TODO work on the subscription block next */

.sub-block {
    background-color: var(--primary-color);
    padding: 2rem;
    color: var(--neutral-color-one);
}

.price {
    display: inline-block;
    font-size: 3rem;
    margin-right: .5rem;
    margin-top: 1rem;
}

.cycle {
    opacity: .7;
    position: relative;
    bottom: 4px;
}