/* * Importing the normalize css */
@import url(/css/normalize.css);

:root {
    --primary-color:hsl(179, 62%, 43%);
    --secondary-color:hsl(71, 73%, 54%);
    --neutral-color-one: hsl(204, 43%, 93%);
    --neutral-color-two: hsl(218, 22%, 67%);
}


.attribution { 
    font-size: 11px; text-align: center; 
}

h1, h2 {
    margin: 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* * Typography */

html {
    font-size: 62.5%;
}

body {
    font-family:'Karla', sans-serif;
    font-size: 1.6rem;
    background-color: var(--neutral-color-one);
}

/* * Container  */

.container {
    max-width: 320vw;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 750px;
    }
}

/* * Blocks */

.block {
    padding: 2rem;
}

.block-primary-bg {
    background-color: white;
}

.block-secondary-bg {
    background-color: var(--primary-color);
    color: var(--neutral-color-one);
}

.block-accent-bg {
    background-color: #50bebc;
    color: var(--neutral-color-one);
}

@media screen and (min-width:768px) {
    .block {
        padding: 4rem;
        font-size: 1.8rem;
    }
}

/* * Headings */
.heading {
    font-size: 1.8rem;
}

/* * community block */

.heading--primary {
    color: var(--primary-color);
}

/* *targeting the first paragraph in the block using pseudo selector */
.comm_paragraph {
    color: var(--secondary-color);
    margin: 2rem 0;
}

.comm_para {
    color: var(--neutral-color-two);
    font-size: 1.4rem;
    line-height: 2;
}

/* TODO work on the subscription block next */

.price {
    display: inline-block;
    font-size: 3rem;
    margin-right: .5rem;
    margin-top: 1.5rem;
}

.cycle {
    opacity: .7;
    position: relative;
    bottom: 4px;
}

/* * button */

.btn {
    margin-top: 1rem;
    margin-bottom: .5rem;
    text-align: center;
    border-radius: 5.5px;
    padding: 1.5rem 0;
    white-space: nowrap;
    outline: 0;
    border: 0;
    box-shadow: 1px 1px 10px rgb(75, 74, 74);
}

.btn-primary {
    background-color: var(--secondary-color);
    color: var(--neutral-color-one);
}

.btn--stretched {
    padding-left: 11rem;
    padding-right: 11rem;
}

.btn--block{
    width: 100%;
    display: inline-block;
}

/* TODO Work on the us section */

.list {
    list-style-type: none;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 0;
}

.list li {
    margin-bottom: .5rem;
    opacity: .8;
}

/* * grid */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.span_column {
    grid-column: 1 / 3;
}