@import url(./normalize.css);

/* * Colors  */
:root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --main_heading-stats: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
}

/* * Typography */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    color: var(--main-paragraph);
    background: var(--main-background);
}

h1, h2, h3 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 700;
}




/* * grid */

.grid {
    display: grid;
}

@media screen and (min-width:768px){
    .grid--1x2 {
        grid-template-columns: 1fr 1fr;
    }
    
}