@import url(./normalize.css);

/* * Colors  */
:root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --main_heading-stats: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
}

/* * Typography */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    color: var(--main-paragraph);
    background: var(--main-background);
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

/* * card */
.card {
    border-radius:10px; 
    display: flex;
    justify-self: center;
    margin: 0 auto;
    text-align: center;
    width: 70vw;
    overflow: hidden;
}

.card__body {
    background: var(--card-background); 
    padding: 3rem;
}

.card__heading {
    color: var(--main_heading-stats);
    font-size: 3.5rem;
    text-align: center;
}

.card__content {
    color: var(--main-paragraph);
    line-height: 1.7;
    margin-bottom: 4rem;
}

.card__footer {
    color: var(--main-paragraph);
    font-size: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    margin: 0 auto;
    width: 19%;
}

.card__footer p {
    margin-bottom: 2.5rem;
}

.card-img {
    height: 100%;
    width: 100%;
    opacity: .55;
}

.overlay {
    background: #8214cc;
    overflow: hidden;
  }

@media screen and (min-width:768px) {
    .card__heading {
        font-size: 3.4rem;
    }

    .card__body {
        order: -1;
        justify-self: center;
        align-items: center;
        height: 100%;
    }
}

/* * highlight */

.highlight {
    color: var(--accent);
}

/* * Stat */
.stat_heading {
    color: var(--main_heading-stats);
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

/* * grid */

.grid {
    display: grid;
}

@media screen and (min-width:768px){
    .grid--1x2 {
        grid-template-columns: 1fr 1fr;
    }
    
}