@import url(/css/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* * Custom colors */

:root {
    --background__orange: hsl(31, 77%, 52%);
    --background__cyan:hsl(184, 100%, 22%);
    --background__dark-cyan: hsl(179, 100%, 13%);
    --paragraph__color: hsla(0, 0%, 100%, 0.75);
    --another__white: hsl(0, 0%, 95%);
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  /* Typography */
  html {
      font-size: 62.5%;
  }

  body {
      color: var(--paragraph__color);
      font-family: 'Lexend Deca', sans-serif;
      font-size: 1.5rem;
  }

/* * background color */

.bg-orange {
    background-color: var(--background__orange);
}

.bg-cyan {
    background-color: var(--background__cyan);
}

.bg-dark_cyan {
    background-color: var(--background__dark-cyan);
}

/* * card */

.card__body {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    overflow: hidden;
}

.card__img {
    width: 25.5%;
    margin-bottom: .8rem;
}

.card__heading {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 4.052rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.card__content {
    line-height: 1.8;
}

/* * Button */

.btn {
    color: var(--another__white);
    padding: 1.2rem;
    border: 1px solid white;
    border-radius: 40px;
    width: 65%;
}

.btn-orange {
    background-color: var(--background__orange);
    transition: background-color ease-in .5s, color ease-in .5s;
}

.btn-cyan {
    background-color: var(--background__cyan);
}

.btn-dark_cyan {
    background-color: var(--background__dark-cyan);
}

.btn-orange:hover {
    color: var(--background__orange);
    background-color: var(--another__white);
    cursor: pointer;
}